<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mars Rover GUI</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <!-- <header>Mars Rover GUI</header> -->
  <div class="main-container">

    <!-- Video feed container -->
    <div class="video-container">
      <!-- Uncomment below to use MJPEG stream.  -->

      <iframe class="iframe" src="http://{{ ip }}:8889/mystream" height="480" width="640"></iframe>
    </div>

    <!-- Right-hand container with two placeholders -->
    <div class="info-container">
      
      <div class="info-box">
        <h2>Status</h2>
        <p>Placeholder text for status updates...</p>
      </div>

      <div class="info-box">
        <h2>QR code feed</h2>
        <ul id="qr-list">
          <li id="qr-placeholder">No QR Code Detected</li>
        </ul>
      </div>

    </div>
  
    
  <!-- Arrow key display container -->
  <div class="controller-container">

    <!-- Controller SVG loaded from separate file -->
    <div class="controller" id="controller">
      <div id="controller-svg-container"></div>
    </div>
    
    <div class="arrow-grid" id="arrow-grid">
      <div></div>
      <div class="arrow" id="arrow-up">&#8593;</div>
      <div></div>
      <div class="arrow" id="arrow-left">&#8592;</div>
      <div></div>
      <div class="arrow" id="arrow-right">&#8594;</div>
      <div></div>
      <div class="arrow" id="arrow-down">&#8595;</div>
      <div></div>
    </div>

  </div>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script src="{{ url_for ('static', filename='controller_script.js') }}" defer></script>
</body>
</html>
